yarl==1.7.2
datasets==1.17.0
transformers==4.15.0
PyYAML==6.0
promptsource @ git+https://github.com/bigscience-workshop/promptsource.git@v0.1.0
sentencepiece
rouge_score
py7zr==0.17.2
sacrebleu==2.0.0
syllables==1.0.3
scipy>=1.4.1
bert_score==0.3.8
